
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #020305;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #111111; 
  }
@font-face {
    font-family: cosi;
    src: url(../fonts/cosi.ttf);
}
body{
    background: #020305;
    color: white;
    margin: 0px;
    padding: 0px;
    overscroll-behavior: none;
    overflow-x: hidden;
    font-family: cosi;

}
.loading{
    background: #020305;
    color: white;
    display: grid;
    place-content: center;
    font-size: 6px;
    font-weight: 100;
    width: 100vw;
    position: absolute;
    height: 100vh;
    transition: opacity 1s;
    .progresBar{
        width: 100px;
        height: 100px;
        border-radius: 55%;
        border: solid 1px white;
        display: grid;
        place-content: ceneter;
        h1{
            margin: auto;
        }
    }
}
.close{
    opacity: 0;
    pointer-events: none;
}

.cursor{
    width: 15px;
    height: 15px;
    position: absolute;
    background: white;
    transition: all 230ms;
    border-radius: 50%;
    display: grid;
    place-content: center;
    z-index: 99;
    .change{
        display: none;
        color: #020305;
        font-size: 15px;
    }
}
.explore{
    width: 100px;
    height: 100px;
}
#container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    canvas{
        display: block;
    }
}
.page{
    width: 100vw;
    height: auto;
    position: absolute;
    z-index: 2;
    .intro{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: relative;
        display: grid;
        place-content: center;
            h1{
                color: white;
                position: relative;
                font-size: 62px;
                margin: auto;
                text-transform: uppercase;
                z-index: 2;
                text-align: center;
                .literaIntro{
                    display: inline-block;
                    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                    opacity: 0;
                    transform: scaleY(0.6);
                    transform: rotateW(-270deg);
                }
            }
            .ramka{
                position: relative;
                width: 200px;
                height: 2px;
                background: white;
                z-index: 10;
                margin: auto;
                opacity: 0;
            }
    }
    .pageTwo{
        width: 100vw;
        height: 100vh;
        position: relative;
        display: grid;
        grid-template-columns: 10vw 1fr 1fr 10vw;
            h1{
                grid-column: 2;
                color: white;
                font-size: 100px;
                margin: auto auto auto 0px;
                text-transform: uppercase;
                z-index: 10;
                text-align: left;
                width: 100px;
            }
        #text{
            position: absolute;
            width: 100vw;
            height: 100vh;
            z-index: 1;
            canvas{
                display: block;
            }
        }
    }
    .pageThree{
        width: 100vw;
        height: 100vh;
        position: relative;
        display: grid;
        grid-template-columns: 10vw 1fr 1fr 10vw;
            h1{
                grid-column: 3;
                color: white;
                font-size: 100px;
                margin: auto;
                text-transform: uppercase;
                z-index: 10;
                text-align: left;
                width: 270px;
            }
    }
    .kontakt{
        width: 100vw;
        height: 100vh;
        position: relative;
        display: grid;
        place-content: cetner;
            h1{

                color: white;
                font-size: 100px;
                margin: auto;
                text-transform: uppercase;
                z-index: 10;
        }
        a{
            text-transform: none;
            color: white;
            font-size: 64px;
            margin: auto auto auto auto;
            text-align: left;
            text-decoration: none;
            cursor: pointer;
            z-index: 100;
        }

    }
}
@media screen and (max-width: 1440px){
    .page{
        .pageTwo{
            h1{
                font-size: 72px;
            }
        }
        .pageThree{
            h1{
                font-size: 72px;
            }
        }
    }
}
@media screen and (max-width: 800px){
    .cursor{
        display: none;
    }
    .page{
        .pageTwo{
            place-content: center;
            h1{
                font-size: 64px;
            }
        }
        .pageThree{
            place-content: center;
            h1{
                font-size: 64px;
            }
        }
        .kontakt{
            h1{
                font-size: 64px;
            }
        }
    }
}
@media screen and (max-width: 700px){
    .page{
        .pageTwo{
            place-content: center;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            h1{
                grid-column: 1;
                grid-row: 1;
                text-align: left;
                margin: auto auto auto 20px;
                font-size: 64px;
            }
        }
        .pageThree{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            place-content: center;
            h1{
                grid-column: 1;
                grid-row: 1;
                text-align: left;
                font-size: 64px;
                margin: auto 20px auto auto;
            }
        }
        .kontakt{
            h1{
                font-size: 40px;
            }
            a{
                font-size: 40px;
            }
        }
    }
}
@media screen and (max-width: 420px){
    .page{
        .pageTwo{
            h1{
                font-size: 45px;
            }
        }
        .pageThree{
            h1{
                font-size: 45px;
                width: 170px;
            }
        }
        .kontakt{
            h1{
                font-size: 40px;
            }
            a{
                font-size: 26px;
            }
        }
    }
}
@media screen and (max-width: 400px){
    .page{
        .intro{
            h1{
                font-size: 48px;
            }
        }
        .pageTwo{
            h1{
                font-size: 30px;
            }
        }
        .pageThree{
            h1{
                font-size: 30px;
            }
        }
        .kontakt{
            h1{
                font-size: 40px;
            }
            a{
                font-size: 23px;
            }
        }
    }
}
